.pessoa__imagem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 300px;
    margin: 0 auto;
    width: 300px;
}

.pessoa__imagem--roberta {
    imgCabecalho__selber
}

.pessoa__imagem--marcela {
    background-image: url('../../img/pessoas/marcela.jpg');
}

.pessoa__imagem--andreia {
    background-image: url('../../img/pessoas/andreia.jpg');
}

/* obs. que a imagem não aprece no html, e sim do css usando background-image: url('../../img/pessoa/roberta.jpg') nessa caso usa  background-position: center background-repeat: no-repeat background-size: cover*/